DATABASE_URL=postgresql://usuario:password@host:puerto/delivery_db?sslmode=require

JWT_SECRET_KEY=coloca_aqui_una_clave_segura

MAPS_API_KEY=coloca_aqui_tu_clave_google_maps

ML_API_URL=http://127.0.0.1:8000
